.logo-image {
    width: 5rem;
}


.intro-section {
    border: 0.1px solid #fff !important;
}

.testimonials {
    border: 0.1px solid #fff !important;
}

.bloco-dois {
    display: flex;
    flex-direction: row-reverse;
    
}

.container-completo {
    align-items: center;
}

/* Css da parte dos clientes*/

.container__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logos {
    display: flex;
    flex-direction: row;
    width: 60%;
    overflow-x: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.logo {
    margin: 0 10px;
    padding: 8px 0;
}

.imagem {
    width: 100px;
    margin: 8px 0;
}

.bloco-dois {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.img__blocodois {
    border-radius: 50%;
}


.bloco-um,
.bloco-tres {
    display: flex;
    align-items: center;
}

.container__maps {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1rem 2rem 0;
    max-width: 100%;
}


.container__texto {
    max-width: 100%;
    text-align: center;
    text-align: justify;
}


.container__maps {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1rem 2rem 0;
    max-width: 100%;
}

/*CSS do título do formulário*/

.title-form {
    font-size: 1.2rem;
    text-transform: capitalize;
    text-align: justify;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    background-image: linear-gradient(to right, rgba(17, 52, 213, 0.56), rgba(17, 52, 213, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*Estilos do footer*/




.container__geral {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.8rem 0;
  
}


.img-footer {
    width: 200px;
}


.container-footer {
display: flex;  
margin: 0px 3rem;
}

 

@media (max-width: 576px) {
    .img-footer {
    width: 100px;
    padding: 20px 0; /* ajuste o valor conforme necessário */
    }

    .container__geral {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-footer {
        padding: 1.5rem 0;
    }
}

/*Estilo da mensagem do formulário*/

.success,
.error {
text-align: center;
}

.success {
color: #1437D5;
font-size: 3rem;
font-weight: bold;
}

.error {
color: tomato;
font-size: 3rem;
font-weight: bold;
}

.rounded-pill:disabled{
    cursor: not-allowed;
    background-color: grey;
}